name: Windows Build

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    env:
      VCPKG_ROOT: C:\vcpkg
      VCPKG_DEFAULT_TRIPLET: x64-windows

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Install vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg C:\vcpkg
          C:\vcpkg\bootstrap-vcpkg.bat

      - name: Install required vcpkg packages
        run: |
          C:\vcpkg\vcpkg install opus:x64-windows

      - name: Build application
        run: cargo build --release

      - name: Upload Windows EXE
        uses: actions/upload-artifact@v4
        with:
          name: linkedin-remote-windows
          path: target/release/*.exe
